<html>
    <head>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"  rel="stylesheet">
        <style>
            ul li { display: inline-block }
            ul { list-style: none; padding-left: 0px; }
            tr { vertical-align: top }
            label { padding-right: 5px; }
            tr { vertical-align: top }
            input[type='checkbox'] {  position: relative;  top: 3px; }            
        </style>
     </head>
    <body style="background-color:darkslategray ; color: white; font-family: helvetica; margin: 40px">
        <form action="" method="post" enctype="multipart/form-data" novalidate>
            {% csrf_token %} 
            <table>
                {% for field in form %}
                <tr>
                    <td style="text-align: right">{{field.label_tag}}</td>
                    <td>{{field}}</td>
                </tr>
                {% endfor %} 
                <tr>
                    <td>&nbsp;</td>
                    <td><input type="submit" value="Save"></td>
                </tr>
            </table>
        </form> 
        {% if not form.is_valid %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div style="color: red">
                        {{field.label_tag}} {{ error }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
        <p></p>
        <div class="row">
            <div class="col-md-2"><strong>Name</strong></div>
            <div class="col-md-2"><strong>Address</strong></div>
            <div class="col-md-2"><strong>City</strong></div>
            <div class="col-md-1"><strong>State/Province</strong></div>
            <div class="col-md-1"><strong>Payment Terms</strong></div>
            <div class="col-md-1"><strong>Is Tax Exempt</strong></div>
            <div class="col-md-3"><strong>Location</strong></div>
        </div>
        <p></p>
         {% for customer in customers %}
        <div class="row">
            <div class="col-md-2">{{customer.Name}}</div>
            <div class="col-md-2">{{customer.Address}}</div>
            <div class="col-md-2">{{customer.City}}</div>
            <div class="col-md-1">{{customer.StateProvince}}</div>
            <div class="col-md-1">{{customer.PaymentTerms}}</div>
            <div class="col-md-1">              
                {% if customer.TaxExempt %}
                    Yes
                {% else %}
                    No 
                {% endif %}
            </div>
            <div class="col-md-3"><img width="150" src="web_project/uploads/{{customer.Location}}"/></div>
        </div>
        {% endfor %}    
    </body>
    <script>
    </script>
</html>
